.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.box {
  margin: 10px auto;
  padding: 10px;
}

.btnAdd {
  width: 90px;
  margin: 0 auto;
  appearance: none;
  background-color: transparent;
  border: 1px solid #1a1a1a;
  border-radius: 5px;
  box-sizing: border-box;
  color: #3b3b3b;
  cursor: pointer;
  display: inline-block;

  line-height: normal;

  min-width: 0;
  outline: none;
  padding: 6px;

  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.btnAdd:disabled {
  pointer-events: none;
}

.btnAdd:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btnAdd:active {
  box-shadow: none;
  transform: translateY(0);
}